@import "tailwindcss";

:root {
  --color-background: #fffffe;
  --color-foreground: #171717;
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root[data-theme="dark"] {
  --color-background: #202020;
  --color-foreground: #ededed;
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
